<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bin slapper</title>
    <link rel="icon" href="/favicon.ico">
    <meta name="description" content="Slap yo bins in here!">
    <meta name="keywords" content="pastebin, documents, upload, sharing, free, hosting, document hosting"/>
    <link rel="stylesheet" href="/static/css/style.css?v={{style_version}}">
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/main.js?v={{main_js_version}}"></script>
</head>
<body>
<div class="container-lg mt-4">
    <div class="d-inline-flex w-100">
        <h1 class="text-center d-flex m-auto">Welcome to&nbsp;<div class="text-highlight">Bin slapper</div>&nbsp;!</h1>
    </div>
    <div class="m-3">
        <img src="/static/img/favicon.ico" alt="logo" class="m-auto d-block"/>
    </div>
    <hr class="mx-5"/>
    <h3>And that's it</h3>
</div>

{{> partials/footer}}
</body>
</html>